@import 'src/scss/variables';

.game {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;

  @media all and (min-width: $desktop) {
    padding-top: 40px;
  }

  &__container {
    text-align: center;

    @media all and (min-width: $desktop) {
      width: 409px;
    }
  }

  &__img {
    display: none;

    @media all and (min-width: $desktop) {
      display: unset;
      position: absolute;
    }

    &--left {
      top: 40px;
      left: 0;
      height: 638px;
    }

    &--right {
      top: 358px;
      right: 0;
      height: 418px;
    }
  }

  &__question {
    margin-bottom: 1.5rem;
  }
}