@import 'src/scss/variables';

.profile-form {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;

  @media all and (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__avatar {
    display: flex;
    grid-gap: 0.5rem;
  }

  &__avatar-icon {
    padding: 18px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid $blue;
    width: 80px;
    height: 80px;
  }

  &__avatar-action {
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid $blue;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    grid-gap: 12px;
    cursor: pointer;
  }

  &__firstName {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
  }

  &__left-side,
  &__right-side {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
  }

  &__right-side {
    justify-content: space-between;
  }

  &__chipfield-container {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
  }

  &__chipfields {
    display: flex;
    grid-gap: 8px;
  }

  &__button {
    height: 60px;
  }
}