@import 'src/scss/variables';

.answer {
  border-radius: 1rem;
  border: 1px solid $white;
  width: 100%;
  padding: 28px 0;
  cursor: pointer;
  user-select: none;


  &--default {

    @media all and (hover) {
      transition: 250ms;

      &:hover {
        background-color: $dark-blue;
      }
    }
  }

  &--submitted {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--correct {
    background-color: $success;
    cursor: not-allowed;
  }

  &--not-correct {
    background-color: $red;
    cursor: not-allowed;
  }
}