@import 'src/scss/variables';

.container {

  &--dark {
    background: $blue;
  }

  &--light {
    background: radial-gradient(50% 69.6% at 50% 50%, #FFFFFF 0%, #DAE2EF 100%);
  }

  &__inner {
    @media all and (min-width: $desktop) {
      max-width: $desktop;
      margin: 0 auto;
      position: relative;
    }
  }
}