@import 'src/scss/variables';

.container {
  background-color: $blue;
  max-width: 100vw;
  overflow: hidden;
  // TODO определить паттерны, которые будут использоваться для background-color

  &__inner {
    @media all and (min-width: $desktop) {
      max-width: $desktop;
      margin: 0 auto;
      position: relative;
    }
  }
}