@import 'src/scss/variables';

.quiz {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  margin-top: 0.5rem;

  &__questions {
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
  }

  &__button {
    margin-top: 1rem;
  }
}