// header
$headerHeightDesktop: 60px;
$headerHeightMobile: 40px;

// media
$tablet: 768px;
$desktop: 1280px;

// colors
$black: #111111;
$white: #FFFFFF;

$light-red: #FF0000;
$red: #BF1D26;
$dark-red: #81080F;

$very-light-blue: #DAE2EF;
$light-blue: #0041A0;
$blue: #002F6C;
$dark-blue: #001E46;

$dark-grey: #909090;
$grey: #BCBCBC;
$light-grey: #DEDEDE;
$very-light-grey: #F4F4F4;