@import 'src/scss/variables';

.logo {
  display: flex;
  justify-content: center;
  width: 100%;

  @media all and (min-width: $desktop) {
    position: absolute;
    bottom: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);
  }
}