@import 'src/scss/variables';

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media all and (min-width: $desktop) {
    width: 100%;
  }

  &__progress-bar {
    position: relative;
    height: 60px;
    width: 60px;
  }

  &__countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}