@import 'src/scss/variables';

.container {
  // TODO это говно необходимо позже убрать
  background: radial-gradient(50% 69.6% at 50% 50%, #FFFFFF 0%, #DAE2EF 100%) !important;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    position: relative;
    width: 497px;
    height: 226px;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 0.5rem;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
  }

  &__button {
    width: 343px;
    margin-bottom: 3rem;
  }
}