@import 'src/scss/variables';

.onboarding {
  display: flex;
  flex-direction: column;
  grid-gap: 1.5rem;
  position: relative;

  @media all and (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-gap: 1.5rem;
    grid-template-areas:
      "progress-bar image"
      "text image"
      "button image";
  }

  &__progress-bar {
    //margin-bottom: 1.5rem;

    @media all and (min-width: $desktop) {
      grid-area: progress-bar;
      //margin: 0;
    }
  }

  &__button {
    position: sticky;
    bottom: 1rem;
    left: 0;
    //margin-bottom: 1rem;
    grid-area: button;
  }

  &__image {
    grid-area: image;

    border-radius: 12px;

    @media all and (min-width: $desktop) {
      width: 343px;
      height: 343px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    text-align: center;

    @media all and (min-width: $desktop) {
      text-align: left;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
}