@use "src/scss/mixins";
@import "src/scss/variables";

.money {
  padding: 2px;
  background: linear-gradient(90deg, #EDEAE8 0%, #4C5354 25%, #E8E8E9 60%, #989DA2 85%, #B1B1B1 100%);
  border-radius: 16px;

  &__container {
    display: flex;
    grid-gap: 8px;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 16px;

    width: 111px;
    height: 60px;
    background-color: $blue;
    color: white;

    @include mixins.int-1;

    @media all and (min-width: $desktop) {
      grid-gap: 12px;
      width: 126px;
      height: 60px;
    }
  }
}